:root {
	--font-body: 'Poppins', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	--color-theme-1: #295884;
	--color-text: #111119;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: #dfdfd0;
	background: repeating-linear-gradient(
		-120deg,
		#10100030,
		#10100021 2px,
		#10100021 2px,
		#10100030 4px
	);

	box-sizing: border-box;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
